<div class="row">
    <div data-ng-repeat="account in data.accounts" class="col-sm-3">

        <div class="panel">
            <div class="panel-heading"><h4><span class="{{account.glyphIcon}}" aria-hidden="true"></span> {{account.name}}</h4>

                <p>Balance: {{account.balance}}</p>
            </div>
        </div>
    </div>
</div>
<form class="form-horizontal" role="form" ng-submit="transfer()">
    <!-- Account Source-->
    <div class="form-group">

        <div class="row margin-bottom">
            <div class="col-sm-4">
                <div class="input-group">
                    <span class="input-group-addon" id="groessen-addon1">Source: </span>
                    <select class="form-control" ng-model="data.transaction.accountSourceId"
                            aria-describedby="groessen-addon1"
                            ng-options="account.id as account.name for account in data.accounts">
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="input-group">
                    <span class="input-group-addon" id="groessen-addon2">Target: </span>
                    <select class="form-control" ng-model="data.transaction.accountTargetId"
                            aria-describedby="groessen-addon2"
                            ng-options="account.id as account.name for account in data.accounts">
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon" id="groessen-addon3">Category: </span>
                    <select class="form-control" ng-model="data.transaction.categoryId"
                            aria-describedby="groessen-addon3"
                            ng-options="category.id as category.name for category in data.categories">
                    </select>
                </div>
            </div>
        </div>

        <div class="row margin-bottom">

            <div class="col-sm-6">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon" id="groessen-addon4">Target month: </span>
                    <input type="date" ng-model="data.transaction.targetMonth" class="form-control"
                           aria-describedby="groessen-addon4"
                           placeholder="Enter target month..."/>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon" id="groessen-addon5">Date of execution: </span>
                    <input type="date" ng-model="data.transaction.executionDate" class="form-control"
                           aria-describedby="groessen-addon5"
                           placeholder="Enter execution date..."/>
                </div>
            </div>
        </div>

        <div class="row margin-bottom">
            <div class="col-sm-4">
                <input type="number" ng-model="data.transaction.amount" class="form-control" id="amount"
                       placeholder="0.00"/>
            </div>
            <div class="col-sm-8">
                <input type="text" ng-model="data.transaction.message" class="form-control"
                       placeholder="Enter description..."/>
            </div>
        </div>

        <div class="row margin-bottom padding-left padding-right">
            <input type="submit" id="submit" class="btn btn-primary col-sm-offset-1 col-sm-4" value="Save"/>
            <input type="button" id="clear" class="btn btn-default col-sm-offset-1 col-sm-4" value="Clear"
                   ng-click="clearInputFields()"/>

        </div>

    </div>
</form>

<div class="row">
    <div ng-include="'views/balanceSheetRecord/_recordsList.html'"></div>
</div>


