<form class="form-horizontal" role="form" ng-submit="transfer()">
    <!-- Account Source-->
    <div class="form-group">
        <div class="row">
            <div class="col-sm-4">
                <!--<input type="text" ng-model="transaction.accountSourceId" class="form-control" id="source"
                       placeholder="Enter source account..."/>-->
                <select class="form-control" ng-model="transaction.accountSourceId"
                        ng-options="account.id as account.name for account in data.accounts">
                </select>
            </div>
            <div class="col-sm-4">

                <select class="form-control" ng-model="transaction.accountTargetId"
                        ng-options="account.id as account.name for account in data.accounts">
                </select>
            </div>
            <div class="col-sm-4">
                <select class="form-control" ng-model="transaction.categoryName"
                        ng-options="category.name as category.name for category in data.categories">
                </select>
            </div>
        </div>

        <div class="row">

            <div class="col-sm-6">
                <input type="date" ng-model="transaction.targetMonth" class="form-control"
                       placeholder="Enter target month..."/>
            </div>
            <div class="col-sm-6">
                <input type="date" ng-model="transaction.executionDate" class="form-control"
                       placeholder="Enter execution date..."/>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <input type="number" ng-model="transaction.amount" class="form-control" id="amount"
                       placeholder="0.00"/>
            </div>
            <div class="col-sm-8">
                <input type="text" ng-model="transaction.message" class="form-control"
                       placeholder="Enter description..."/>
            </div>
        </div>

        <div class="row">
            <input type="submit" id="submit" class="btn btn-primary col-sm-6" value="Save"/>
            <input type="button" id="clear" class="btn btn-default col-sm-6" value="Clear" ng-click="clearInputFields()"/>

        </div>

    </div>
</form>

<div class="row">
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Transfer amount</th>
            <th>Source</th>
            <th>Target</th>
            <th>Category</th>
            <th>Execution date</th>
            <th>Target month</th>
            <th>Created on</th>
            <th>Modified on</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="record in data.records">
            <td>{{record.id}}</td>
            <td>{{record.name}}</td>
            <td>{{record.transferAmount}}</td>
            <td>{{record.source.name}}</td>
            <td>{{record.target.name}}</td>
            <td>{{record.category.name}}</td>
            <td>{{record.executionDate | date:'dd.MM.yyyy'}}</td>
            <td>{{record.targetMonth | date:'MMM.yyyy'}}</td>
            <td>{{record.createdOn | date:'dd.MM.yyyy HH:mm'}}</td>
            <td>{{record.modifiedOn | date:'dd.MM.yyyy HH:mm'}}</td>
        </tr>
        </tbody>
    </table>
</div>

